<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>gestion</h1>
    <h3>Hola
        <% if (username) { %>
            <%= username %>
        <% } %>
    </h3>
    <a class="salir" href="/usuarios/logout">SALIR</a>
</body>

</html>